<?xml version="1.0"?>
<launch>
	<group>
		<machine name="pc1" address="youbot-hbrs2-pc1" default="true"/>

        <!-- base components -->
    	<include file="$(find raw_bringup)/robots/robot.launch" />
	
	</group>

	<group>
	    <machine name="pc2" address="youbot-hbrs2-pc2" default="true"/>

  	    <include file="$(find raw_bringup)/components/usb_cam_microsoft.launch" />

        <!-- manipulation -->
		<include file="$(find raw_arm_navigation)/ros/launch/simple_manipulation.launch" />	
         
   	</group>
</launch>
