<?xml version="1.0"?>
<launch>
	<rosparam command="load" file="$(find youbot_description)/controller/arm_joint_universal_control.yaml"/>
	<rosparam command="load" file="$(find raw_hardware_config)/$(env ROBOT)/config/arm.yaml"/>
	<node pkg="raw_visual_servoing" type="visual_servoing_node" name="c" ns="raw_visual_servoing" respawn="true" launch-prefix="gdb -ex run --args" output="screen"/>
</launch>
